ADefHelpDesk/ADefHelpDeskWebProxy/Web References/ADefHelpDeskProxy/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ADefHelpDesk.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ADefHelpDesk.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ADefHelpDesk.com/">
      <s:element name="CurrentUpgradeVersion">
        <s:complexType />
      </s:element>
      <s:element name="CurrentUpgradeVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentUpgradeVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpgradeCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpgradeCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpgradeCheckResult" type="tns:ArrayOfUpgradeItems" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUpgradeItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpgradeItems" nillable="true" type="tns:UpgradeItems" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpgradeItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemDetails" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemMethodName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CurrentUpgradeVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CurrentUpgradeVersion" />
  </wsdl:message>
  <wsdl:message name="CurrentUpgradeVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CurrentUpgradeVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpgradeCheckSoapIn">
    <wsdl:part name="parameters" element="tns:UpgradeCheck" />
  </wsdl:message>
  <wsdl:message name="UpgradeCheckSoapOut">
    <wsdl:part name="parameters" element="tns:UpgradeCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="CurrentUpgradeVersion">
      <wsdl:input message="tns:CurrentUpgradeVersionSoapIn" />
      <wsdl:output message="tns:CurrentUpgradeVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpgradeCheck">
      <wsdl:input message="tns:UpgradeCheckSoapIn" />
      <wsdl:output message="tns:UpgradeCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentUpgradeVersion">
      <soap:operation soapAction="http://ADefHelpDesk.com/CurrentUpgradeVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpgradeCheck">
      <soap:operation soapAction="http://ADefHelpDesk.com/UpgradeCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentUpgradeVersion">
      <soap12:operation soapAction="http://ADefHelpDesk.com/CurrentUpgradeVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpgradeCheck">
      <soap12:operation soapAction="http://ADefHelpDesk.com/UpgradeCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://adefhelpdesk.com/DesktopModules/ADefHelpDeskWebservice/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://adefhelpdesk.com/DesktopModules/ADefHelpDeskWebservice/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>